@import './colors'

#__next
  width: 100%
  display: flex
  justify-content: center

.layout-container
  width: 100%

.slanted
  &>*
    text-align: center
    padding: 1em 0
    &>*
      margin: 0
  .heading
    font-weight: bold
    padding: 1.5em 2em
    &>*
      color: #fff
    h1
      font-size: 2.2em
  .paragraph
    font-weight: 500
    padding: 3em 2em
    &>p
      font-size: 1.2em
      color: #fff
  .darkblue
    background: $darkblue
  .purple
    background: $purple
  .darkgreyblue
    background: $darkgreyblue

.lift-up
  margin: -1em 0 0 0 !important
