@import './colors'

#__next
  width: 100%

.layout-container
  width: 100%

.align-left
  text-align: left !important

.darkblue
  background: $darkblue
  *
    color: #fff
.blue
  background: $blue
  *
    color: #fff
.purple
  background: $purple
  *
    color: #fff
.darkgreyblue
  background: $darkgreyblue
  *
    color: #000
.greyblue
  background: $greyblue
  *
    color: #000
