@import './colors'

#__next
  width: 100%
  display: flex
  justify-content: center

.layout-container
  width: 100%

.title-header
  text-align: center
  color: #fff
  font-size: 30px
  font-weight: bold
  padding: 1em 0 0 0
  &.darkblue
    background: $darkblue
