@import './colors'

.technologies
  background: $darkgreyblue
  padding: 1em 0

.button-links
  width: 100%
  display: flex
  justify-content: center
  padding: 2em 2em
  &>*
    box-sizing: border-box
    flex: 1
    margin: 0 1em 0 0
    width: 100%
    background: $darkblue
    border: none
    font-weight: bold
    &:last-child
      margin: 0
    &:hover
      background: lighten($darkblue, 20)
    &>*:first-child
      position: relative
      top: 3px
      margin-right: .5em
