@import './colors'
@import './breakpoints'
@import './Slanted.module'

.technologies
  background: $darkgreyblue
  padding: 1em 0

.button-links
  width: 100%
  display: flex
  justify-content: center
  padding: 2em 2em
  *
    color: #fff
  &>*
    box-sizing: border-box
    flex: 1
    margin: 0 1em 0 0
    width: 100%
    background: $darkblue
    border: none
    font-weight: bold
    &:last-child
      margin: 0
    &:hover, &:active, &:focus, &:focus-within
      background: lighten($darkblue, 20)
    &>*:first-child
      position: relative
      top: 3px
      margin-right: .5em

@media screen and (min-width: $md)
  .projects-wrapper
    background: $blue
  .projects-flex-wrapper
    display: flex
    justify-content: center
    align-items: stretch
    flex-wrap: wrap
    width: $md
  .project
    width: 325px
    margin: 1.5em
    box-shadow: 0 0 20px darken($blue, 11)
    transition: all .3s
    display: flex
    flex-direction: column
    &:hover
      transform: translateY(-4px)
      box-shadow: 0 4px 30px darken($blue, 11)
    &>div
      margin: 0 !important
      &>div
        &::before, &::after
          display: none
      &:last-child
        flex: 1
        &>div>div
          display: flex
          flex-direction: column
          &>p
            flex: 1

@media screen and (min-width: $xl)
  .projects-flex-wrapper
    width: $xl
