@import './breakpoints'

$slant-height: 20px

.slant-container
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  z-index: 2
  margin: 10px+$slant-height 0 0 0
  &.overlap
    margin-top: 0
  &.stick-to-top
    margin-top: calc(#{$slant-height} - 1px)
  &.no-margin-sm
    margin-top: 0
  &.bottom>*:first-child::after
    display: none
  &>*:first-child
    width: 100%
    height: 100%
    &::before
      content: ''
      position: absolute
      width: 100%
      height: $slant-height
      background: inherit
      top: -$slant-height
      clip-path: polygon(100% 100%,100% 0, 0 100%)
    &::after
      content: ''
      position: absolute
      width: 100%
      height: $slant-height
      background: inherit
      bottom: -$slant-height
      clip-path: polygon(0 0, 0 100%, 100% 0%)
  &>*
    margin: 0
    h1, h2, h3, h4, h5, h6
      margin: 0
      font-weight: bold
      text-align: center
      padding: .5em 0
      font-weight: bold
    h1
      font-size: 2.2em
    h2
      font-size: 2em
    p
      margin: 0
      text-align: center
      font-weight: 500
      padding: 1.5em 2em
      font-size: 1.2em
    form
      padding: 1.5em 2em

@media screen and (min-width: $md)
  $slant-height: 30px

  .slant-container
    margin: 10px+$slant-height 0 0 0
    &.stick-to-top
      margin-top: calc(#{$slant-height} - 1px)
    &>*:first-child
      &::before
        height: $slant-height
        top: -$slant-height
      &::after
        height: $slant-height
        bottom: -$slant-height
    &>*
      margin: 0
      display: flex
      justify-content: center
      &>*
        width: $md

@media screen and (min-width: $xl)
  $slant-height: 40px

  .slant-container
    margin: 10px+$slant-height 0 0 0
    &.stick-to-top
      margin-top: calc(#{$slant-height} - 1px)
    &>*:first-child
      &::before
        height: $slant-height
        top: -$slant-height
      &::after
        height: $slant-height
        bottom: -$slant-height
    &>&>*
      width: $xl
