@import './colors'

.contact-form
  label
    color: #fff
  input:hover
    border-color: lighten($blue, 30)
  button
    background: $greyblue
    color: black
    border: none
    &:hover
      background: $darkgreyblue
  &>*:last-child
    margin-bottom: 0
