@import './colors'
@import './breakpoints'

.messages
  background: $purple
  padding: .5em
  h1
    color: #fff
  &>*
    margin: .5rem

.message-buttons
  display: inline-block
  svg
    margin-left: 1em

@media screen and (min-width: $xl)
  .messages
    &>*
      margin: 1rem
